<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-dark text-light text-center py-3">
        <h1>API Documentation</h1>
    </header>

    <div class="container mt-4">
        <section class="documentation">
            <h2>Fortnite Status API</h2>
            <p>
                This API provides information about the status of Fortnite, Epic Games Store, Rocket League, and more.
            </p>

            <h3>Endpoints:</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#fortnite-status">/api/fortnite_status</a> - Get Fortnite status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Fortnite services.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#egs-status">/api/epic_games_store_status</a> - Get Epic Games Store status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of the Epic Games Store.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#rocket-league-status">/api/rocket_league_status</a> - Get Rocket League status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Rocket League.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#eos-status">/api/epic_online_services_status</a> - Get Epic Online Services status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Epic Online Services.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#ue-status">/api/unreal_engine_status</a> - Get Unreal Engine status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Unreal Engine.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#epic-website-status">/api/epic_website_status</a> - Get Epic Website status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of the Epic Games website.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#developer-portal-status">/api/developer_portal_status</a> - Get Developer Portal status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of the Epic Games Developer Portal.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#twinmotion-status">/api/twinmotion_status</a> - Get Twinmotion status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Twinmotion.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#rocket-league-sideswipe-status">/api/rocket_league_sideswipe_status</a> - Get Rocket League Sideswipe status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of Rocket League Sideswipe.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#lego-fortnite-status">/api/lego_fortnite_status</a> - Get LEGO Fortnite status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of LEGO Fortnite.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#support-a-creator-status">/api/support_a_creator_status</a> - Get Support-A-Creator status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of the Support-A-Creator program.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="#ue-marketplace-status">/api/ue_marketplace_status</a> - Get UE Marketplace status
                    <div class="endpoint-description">
                        <p>Retrieve the current status of the Unreal Engine Marketplace.</p>
                    </div>
                </li>

                 <li class="list-group-item">
                    <a href="#scrape-images">/api/scrape_images</a> - Scrape Images
                    <div class="endpoint-description">
                        <p>Scrape image URLs from a specified page.</p>
                    </div>
                </li>
            </ul>

            <h3>Usage:</h3>
            <p>
                Make a GET request to the desired endpoint to retrieve the status information.
            </p>
        </section>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
